* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --padding-lateral: 10%;
}

header {
    padding: 1% var(--padding-lateral);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    background-color: red;
}

header nav {
    justify-self: center;
    align-self: center;
}

header div {
    justify-self: end;
    align-self: center;
}

header ul {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2rem;
}

header ul li {
    list-style: none;

    border: solid 1px black;
}