* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    text-decoration: none;

    font-family: 'Catamaran', sans-serif;
    color: var(--corCaracteres);
}

:root {
    --padding-lateral: 10%;
    --padding-lateral-maior: 20%;
    --padding-secoes: 5%;
    --margin-elementos: 2.5%;
    --backgroundSecundario: #1A1A1A;
    --backgroundPrimario: #1E1E1E;
    --corCaracteres: #fff;
    --roxo: #8e31ff;
}

body {
    background-color: var(--backgroundPrimario);
}


i, button {
    cursor: pointer;
}

i:hover, a:hover {
    color: var(--roxo);
}

/* ----- Header ----- */

header {
    padding: 1% var(--padding-lateral);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    background-color: var(--backgroundSecundario);

    font-size: 20px;

    position: sticky;
    top: 0;
}

header nav {
    justify-self: center;
    align-self: center;
}


header ul {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 4rem;
}

header ul li {
    list-style: none;
}

header ul li a {
    color: var(--corCaracteres);
}

header div {
    justify-self: end;
    align-self: center;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
}

header div i {
    font-size: 20px;
}

.container-icones {
    display: flex;
}

/* ----- Main ----- */

.banner-apresentacao {
    width: 100%;
    height: 690px;

    background-image: url("../imagens/bannerPorDoSol.png");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.banner-apresentacao h1 {
    color: white;
}

/* --- Novidades --- */

.novidade {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;

    padding: 0 var(--padding-lateral-maior);
}

.novidade img {
    border-radius: 1.5rem;
}

.novidade div {
    display: flex;

}

.novidade div h2 {
    font-size: 42px;
}

.novidade div p {
    width: 90%;
    display: inline-block;

    font-size: 18px;

    margin-bottom: 5%;
}

.novidade div button {
    max-width: 25%;
    padding: 1% 0;

    border-radius: .15rem;
    border: 1px solid var(--roxo);
    background-color: var(--roxo);

    color: white;
    font-size: 17px;
}

.texto-novidade {
    width: fit-content;

    display: flex;
    flex-direction: column;
}

.novidade1 {
    background-color: var(--backgroundSecundario);
    padding-top: var(--padding-secoes);
    padding-bottom: var(--padding-secoes);
}

.novidade2 {
    padding-top: var(--padding-secoes);
    padding-bottom: var(--padding-secoes);
}


/* --- Categorias --- */

.categorias {
    padding: var(--padding-secoes) var(--padding-lateral);

    
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 40px;
}

.categorias img {
    aspect-ratio: 1 / 1;
}

.categoria2, .categoria4 {
    justify-self: end;
}

/* ----- Footer ----- */

footer {
    padding: var(--padding-secoes) var(--padding-lateral);

    background-color: var(--backgroundSecundario);

    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    align-items: center;
}

footer section a, footer section i, footer section span {
    color: var(--corCaracteres);
}

footer nav a {
    font-size: 18px;
    margin-right: 3%;
}

footer i {
    font-size: 20px;
    margin-right: 1%;
    margin-top: 1.5%;
}

footer .parte-superior {
    margin-bottom: var(--margin-elementos);
}

footer .parte-inferior a {
    margin-right: 3%;
}

.fa-arrow-up {
    font-size: 35px;
}