* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    text-decoration: none;

    font-family: 'Catamaran', sans-serif;
}

:root {
    --padding-lateral: 10%;
    --margem-secoes: 5%;
}

/* ----- Header ----- */

header {
    padding: 1% var(--padding-lateral);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    background-color: whitesmoke;

    font-size: 20px;

    box-shadow: 0 4px 25px 1px rgba(0, 0, 0, 0.26);
}

header nav {
    justify-self: center;
    align-self: center;
}


header ul {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 4rem;
}

header ul li {
    list-style: none;
}

header div {
    justify-self: end;
    align-self: center;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
}

header div span {
    font-size: 40px;
}

/* ----- Main ----- */

.banner-apresentacao {
    
}