* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    text-decoration: none;

    font-family: 'Catamaran', sans-serif;
}

:root {
    --padding-lateral: 10%;
    --padding-lateral-maior: 20%;
    --padding-secoes: 5%;
    --margin-elementos: 2.5%;
}

/* ----- Header ----- */

header {
    padding: 1% var(--padding-lateral);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    background-color: whitesmoke;

    font-size: 20px;

    box-shadow: 0 4px 25px 1px rgba(0, 0, 0, 0.26);
}

header nav {
    justify-self: center;
    align-self: center;
}


header ul {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 4rem;
}

header ul li {
    list-style: none;
}

header ul li a {
    color: #000;
}

header div {
    justify-self: end;
    align-self: center;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
}

header div i {
    font-size: 20px;
}

/* ----- Main ----- */

.novidades {
    padding: var(--padding-secoes) 0;
}

.novidade {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;

    padding: 0 var(--padding-lateral-maior);
}

.novidade div p {
    width: 90%;
    display: inline-block;
}

.novidade div button {
    width: 20%;
}

.texto-novidade {
    width: fit-content;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
}

.novidade1 {
    margin-bottom: var(--margin-elementos);
}

.texto-novidade2, .imagem-novidade1 {
    justify-self: end;
}

